.social-icons {
    display: flex;
    margin-top: 20px;
}

.icon {
    font-size: 1.5em; 
    margin: 0 15px; 
    color: #333; 
    text-decoration: none;
}

.icon:hover {
    color: #1B4464;
}

.langicons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 90px;
    margin-top: 40px;
}
.linguagem {
    display: none;
    background-color: #1B4464;
    color: white;
    border-radius: 5px; 
    padding: 5px;
    position: absolute;
    text-align: center;
}

.const:hover .linguagem {
    display: block; 
}
.const:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
}
